*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Arial;
}
.container{
    background-color: rgb(149, 255, 117);
    max-width: 1440px;
    height: 500px;
}
.titulo{
    max-width: auto ;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.container p{
    text-align: center;
    margin: 2px;
}
.imagem{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
    
}
.imagem img{
    height: 250px;
    border-bottom: solid black 3px;
   
}
.imagem figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: red;
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.conteudo #biografia{
    text-align: center;
    margin: 20px;
    height: 100px;
    
}