
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Arial;
    background-color: #cfcece;
}
.header{
    display: flex;
    flex-direction: column;
}
.introdução{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introdução h1{
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.introdução p{
    margin: 5px;
}
#subtitulo{
    text-align: center;
    color: rgb(255, 255, 255);
}
.titulo{
    max-width: auto ;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.imagem{
  margin: auto;
    height: 350px;
    width:  100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    border: black 2px solid;
}
.imagem img{
    height: 280px;
    width: 100%;
    border-bottom: solid rgb(0, 0, 0) 3px;
    border-radius: 10px;
}
.imagem figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2px;
}
.biografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
    width: 100%;
}
.biografia h2{
    color: white;
}
.biografia p{
    font-size: medium;
    width: 75%;
}
.fim{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fim p{
    padding: 5px;
}
.fim a{
    text-decoration: none;
    color: white;
}